<header class="header">
  <img
    class="header__logo"
    [routerLink]="['/']"
    src="../assets/logo.svg"
    alt="Homes logo" />

  <div class="header__menu">
    <a
      mat-flat-button
      [routerLink]="['/houses']"
      routerLinkActive
      #rla1="routerLinkActive"
      [color]="rla1.isActive ? 'primary' : ''"
      >Houses</a
    >
    <a
      mat-flat-button
      [routerLink]="['/cities']"
      routerLinkActive
      #rla2="routerLinkActive"
      [color]="rla2.isActive ? 'primary' : ''"
      >Cities</a
    >
    <a
      mat-flat-button
      [routerLink]="['/states']"
      routerLinkActive
      #rla3="routerLinkActive"
      [color]="rla3.isActive ? 'primary' : ''"
      >States</a
    >
  </div>
</header>
