.house-view {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__toolbar {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
  }
}

@media (max-width: 720px) {
  .house-view {
    &__toolbar {
      flex-direction: column;
    }

    &__select {
      min-width: 100%;
    }
  }
}
