<section class="city-list">
  <div class="city-list__toolbar">
    <app-searchbox
      class="city-list__search"
      [placeholderText]="placeholder"
      (searchChange)="onSearch($event)" />

    <mat-checkbox
      [checked]="includeWithoutHouses()"
      (change)="onToggleWithoutHouses()"
      >Inlcude cities without houses</mat-checkbox
    >
  </div>
  <app-grid-view [data]="cityList()" [dataItemTemplate]="dataItemTemplate" />
</section>

<ng-template #dataItemTemplate let-city>
  <app-card
    [title]="city.name"
    subtitle="{{ city.stateName }}, {{ city.houseCount }} Houses"
    [btnLabel]="city.houseCount && 'View Details'"
    (btnClick)="onCitySelect(city.cityId)" />
</ng-template>
