<section class="house-list">
  <app-searchbox
    class="house-list__search"
    [placeholderText]="placeholder"
    (searchChange)="onSearch($event)" />
  <app-grid-view [data]="houseList()" [dataItemTemplate]="dataItemTemplate" />
</section>

<ng-template #dataItemTemplate let-house>
  <app-card
    [img]="house.photoUrl"
    [title]="house.name"
    [subtitle]="location"
    btnLabel="View Details"
    (btnClick)="onHouseSelect(house.id)" />

  <ng-template #location>
    <span class="house-list__location"></span>{{ house.cityName }},
    {{ house.stateName }}
  </ng-template>
</ng-template>
