<section class="city-list">
  <div class="city-list__toolbar">
    <app-searchbox
      class="city-list__search"
      (searchChange)="onSearch($event)" />

    <div class="city-list__checkbox">
      <label class="city-list__label" for="checkbox"
        >Inlcude cities without houses</label
      >
      <input
        id="checkbox"
        type="checkbox"
        [checked]="includeWithoutHouses()"
        (change)="onToggleWithoutHouses()" />
    </div>
  </div>
  <app-grid-view [data]="cityList()" [dataItemTemplate]="dataItemTemplate" />
</section>

<ng-template #dataItemTemplate let-city>
  <app-card
    [title]="city.name"
    subtitle="{{ city.stateName }}, {{ city.houseCount }} Houses"
    btnLabel="View Details" />
</ng-template>
