@defer (when houseList().length) {
  <section>
    <app-searchbox
      class="home-list__search"
      (searchChange)="onSearch($event)" />
  </section>

  <section class="home-list">
    @if (houseList().length) {
      @for (house of houseList(); track house.id) {
        <app-house [house]="house"></app-house>
      }
    } @else {
      <h2 class="home-list__title">No data</h2>
    }
  </section>
} @placeholder {
  <h2 class="home-list__title">No data</h2>
} @loading {
  <h2 class="home-list__title">Loading...</h2>
}
