@defer {
  @if (house()) {
    <article class="house">
      <img
        class="house__photo"
        [src]="house()?.photoUrl"
        alt="Photo of {{ house()?.name }}" />

      <section class="house__content">
        <section class="house__description">
          <h1 class="primary">{{ house()?.name }}</h1>
          <h2 class="primary house__location">
            <mat-icon>location_on</mat-icon>{{ house()?.cityName }},
            {{ house()?.stateName }}
          </h2>
        </section>

        <mat-list>
          <h3 mat-subheader class="primary">About this house</h3>
          <mat-list-item>
            <mat-icon matListItemIcon>meeting_room</mat-icon>
            <div matListItemTitle>
              Units available: {{ house()?.availableUnits }}
            </div>
          </mat-list-item>
          @if (house()?.wifi) {
            <mat-list-item>
              <mat-icon matListItemIcon>wifi</mat-icon>
              <div matListItemTitle>Wi-Fi</div>
            </mat-list-item>
          }
          @if (house()?.laundry) {
            <mat-list-item>
              <mat-icon matListItemIcon>local_laundry_service</mat-icon>
              <div matListItemTitle>Laundry</div>
            </mat-list-item>
          }
        </mat-list>

        <section class="house__apply">
          <h3 class="primary">Apply to live here</h3>
          <form
            class="house__form"
            [formGroup]="applyForm"
            (submit)="onApply()">
            <mat-form-field>
              <mat-label>First name</mat-label>
              <input matInput formControlName="firstName" />
            </mat-form-field>

            <mat-form-field>
              <mat-label>Last name</mat-label>
              <input matInput formControlName="lastName" />
            </mat-form-field>

            <mat-form-field>
              <mat-label>Email</mat-label>
              <input
                matInput
                placeholder="pat@example.com"
                formControlName="email"
                required />
              @if (applyForm.get('email')?.hasError('required')) {
                <mat-error>Email is required</mat-error>
              }

              @if (applyForm.get('email')?.hasError('email')) {
                <mat-error
                  >Please enter correct email, e.g.
                  "pat&#64;example.com"</mat-error
                >
              }
            </mat-form-field>

            <button
              mat-raised-button
              color="primary"
              [disabled]="!applyForm.valid"
              type="submit">
              Apply now
            </button>
          </form>
        </section>
      </section>
    </article>
  } @else {
    <h2 class="primary">House not found</h2>
  }
} @placeholder {
  <h2 class="primary">Loading...</h2>
} @loading (minimum 0.3s) {
  <h2 class="primary">Loading...</h2>
} @error {
  <h2 class="primary">House not found</h2>
}
