<section class="grid-view">
  @defer (when data().length) {
    @for (dataItem of data(); track dataItem[trackBy]) {
      <ng-container
        *ngTemplateOutlet="
          dataItemTemplate;
          context: { $implicit: dataItem }
        "></ng-container>
    }
    @if (!data().length) {
      <h2 class="grid-view__title">No data</h2>
    }
  } @placeholder {
    <h2 class="grid-view__title">Loading...</h2>
  } @loading (minimum 0.3s) {
    <h2 class="grid-view__title">Loading...</h2>
  }
</section>
