.house-list {
  &__toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
  }

  &__search {
    min-width: 392px;
  }
}

@media (max-width: 720px) {
  .house-list {
    &__toolbar {
      flex-direction: column;
    }
    &__search {
      min-width: 100%;
    }
  }
}
