<section class="house-list">
  <div class="house-list__toolbar">
    <app-searchbox
      class="house-list__search"
      placeholderText="Filter by city, state or name"
      (searchChange)="onSearch($event)" />
    <button mat-raised-button color="primary" (click)="onHouseAdd()">
      Add house
    </button>
  </div>
  <app-grid-view [data]="houseList()" [dataItemTemplate]="dataItemTemplate" />
</section>

<ng-template #dataItemTemplate let-house>
  <app-card
    [img]="house.photoUrl"
    [title]="house.name"
    [subtitle]="location"
    btnLabel="View Details"
    (btnClick)="onHouseSelect(house.id)" />

  <ng-template #location>
    <span class="house-list__location"></span>{{ house.cityName }},
    {{ house.stateName }}
  </ng-template>
</ng-template>
