.house-list {
  &__search {
    min-width: 392px;
  }

  &__location {
    &::before {
      content: url('/assets/location-pin.svg') / '';
    }
  }
}

@media (max-width: 720px) {
  .house-list {
    &__search {
      min-width: 100%;
    }
  }
}
