@use 'sass:map';
@use '@angular/material' as mat;

@include mat.core();

@mixin color($theme) {
  .primary {
    color: mat.get-theme-color($theme, primary, 500);
  }
  .accent {
    color: mat.get-theme-color($theme, accent, 500);
  }
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }
}

$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
    ),
  )
);

@include theme($my-theme);
